body {
  margin: 0;
  background-color: rgb(69, 61, 82);
}
  
* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: aliceblue;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(211, 199, 245);
}

h1 {
  font-size: 32px;
  margin: 0;
}

h2 {
  font-size: 28px;
  margin: 15px;
}

h3 {
  font-size: 26px;
  margin: 0;
}

p {
  font-size: 22px;
}

li {
  font-size: 22px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color:  rgb(200, 189, 211);
}

a:hover {
  color:  rgb(255, 255, 255);
}

a:active {
  color:   rgb(69, 61, 82);
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  height: 400px;
}

.background-photo {
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  width: 100%;
  box-shadow: 1px 1px 2px black, 0 0 1em white;
} 

.box-backlight {
  border: dotted 5px white;
  box-shadow: 1px 1px 2px black, 0 0 0.7em rgb(211, 199, 245);
}

nav {
  position: fixed;
  width: 100%;
}

.nav-content {
  max-width: 1024px;
  margin: 0 auto;
  height: 30px;
}

.nav-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 100px;
  margin-right: 5px;
  box-shadow: 1px 1px 2px black, 0 0 1em rgb(211, 199, 245) inset;
  border-radius: 0 0 8px 8px;
  background-color: rgb(69, 61, 82);
  list-style-type: none;
}

ul {
  display: flex;
  flex-direction: row;
  width: 550px;
  margin-left: 0;
}

.cutaway-information-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  list-style-type: none;
  margin-right: 30px;
}

.cutaway-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.cutaway-background-photo {
  background-image: url('../img/desktop.png');
  height: 100px;
}

.cutaway-photo {
  height: 200px;
  width: 200px;
  margin: 20px;
  border-radius: 100px;
  overflow: hidden;
}

.cutaway-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 665px;
}

.summary-background-photo {
  background-image: url('../img/desktop.png');
  height: 125px;
  box-shadow: 1px 1px 2px black, 0 0 1em white;
}

.summary-text {
  font-size: 20px;
  min-height: 300px;
  max-width: 800px;
  margin-top: 60px;
  padding: 40px;
  border-radius: 80px;
}

.education-background-photo {
  background-image: url('../img/desktop.png');
}
.education-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.education-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
  width: 900px;
  height: 200px;
}

.expireince-background-photo {
  background-image: url('../img/code.png');
}

.expireince-content {
  height: 400px;
}

.expireince-content p {
  margin: 10px;
}

.expireince-content h1 {
  margin-bottom: 30px;
}

.skills-content {
  height: 400px;
}

.skills-content ul{
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .skills-content li {
  margin-top: 10px;
 }

.skills-background-photo {
  background-image: url('../img/code.png');
}

.languages-background-photo {
  background-image: url('../img/codetwo.png');
}

.footer-content {
  height: 45px;
  padding: 5px;
}
.footer-content p {
  font-size: 12px;
  margin: 0;
}